<div id="events" class="panel collapse">
    <!--    Calendar widget -->
    <div id="calendarContainer" class="elegant-calencar">
        <div class="pre-button pointer">&lt;</div>
        <div class="head-info">
            <!-- <div class="head-day"></div> -->
            <div class="head-month"></div>
        </div>
        <div class="next-button pointer">></div>
    </div>
    <table id="calendar" class="pmoTableCalander">
        <thead class="pmoTableCalanderHeader">
            <tr>
                <th>א</th>
                <th>ב</th>
                <th>ג</th>
                <th>ד</th>
                <th>ה</th>
                <th>ו</th>
                <th>ש</th>
            </tr>
        </thead>
        <tbody class="pmoTableCalanderBody">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div id="dateSlider" class="flex-container">
    <p id="prevReminder"><i class="arrow right" onclick="prevEvent()"></i></p>
    <p id="reminderStartDate"></p>
    <p id="reminderDescription"></p>
    <p id="nextReminder"><i class="arrow left" onclick="nextEvent()"></i></p>
    <p id="showCalendarImg"><img alt="ShowCalendar" title="הצג לוח שנה" onclick="toggleCalendar()" src="/_catalogs/masterpage/click/public/images/ShowCalendar.png" width="32" height="32" /></p>
</div>