<!-- Charts -->
<h2 class="my-6 text-2xl font-semibold text-purple-600 dark:text-gray-200">
    לוח מחוונים
</h2>
<div class="grid gap-6 mb-8 md:grid-cols-2">
    <!-- Projects   -->
    <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
            אחוז ביצוע בפרויקט
        </h4>
        <canvas id="pieProjects"></canvas>
        <div id="legendPieProjects" class="flex justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400">
            <!-- Chart legend -->
        </div>
    </div>
    <!-- Tasks   -->
    <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
            סטאטוס משימות
        </h4>
        <canvas id="barsTasks"></canvas>
        <div id="legendBarsTasks" class="flex justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400">
            <!-- Bar legend -->
        </div>
    </div>

</div>