<div class="row reminderTitle">
    <div class="col-lg-12">
        <h2 class="reminderTitleText"></h2>
    </div>
</div>
<div class="row reminderBody">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-2">
                <h3>משתתפים</h3>
                <div class="RemAttendee"></div>
            </div>

            <div class="col-lg-2">
                <h3>מיקום</h3>
                <div class="RemPlace"></div>
            </div>
            <div class="col-lg-4">
                <h3>תאריך התחלה</h3>
                <div class="RemEventDate"></div>
            </div>
            <div class="col-lg-4">
                <h3>תאריך סיום</h3>
                <div class="RemEndDate"></div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-3">
                <h3>קטגוריה</h3>
                <div class="RemCategory"></div>
            </div>
            <div class="col-lg-9">
                <h3>תיאור</h3>
                <div class="RemDiscription"></div>
            </div>
        </div>
    </div>
    <!--<button class="closeBtn" type="button" onclick="PMOClick.Methods.CloseDialog('SP.UI.DialogResult.cancel',null)">סגור</button>-->
</div>