<script src="/_catalogs/masterpage/click/js/jquery-2.2.4.min.js"></script>
<script src="/_catalogs/masterpage/Click/js/CarOrder.js"></script>


<div id='services'>
    <div class='Mainp'>
        <div class="flex__container links__container">
            <div>
                <img class='pmoNavimg' alt='entrance' src='/_catalogs/masterpage/click/public/images/entrance_white.png' />
                <br />
                <span class='pmoUlHead'> אישורי כניסה
                </span>
                <ul class='pmoUL'>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='file://black-filer1/public$/infopath%20forms/visitors_march_07042016.xsn'>הזמנת מבקרים
                            מקוונת</a>
                    </li>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='file://black-filer1/public$/infopath%20forms/טפסי%20צוות%20יישומים/טפסי%20צוות%20יישומים%202010/טפסי%20ביטחון/פרסום%20הזמנת%20נותני%20שירותים.xsn'>הזמנת
                            נותני שירותים</a>
                    </li>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='file://black-filer1/public$/infopath%20forms/טפסי%20צוות%20יישומים/טפסי%20צוות%20יישומים%202010/טפסי%20ועדות/טופס%20בקשת%20תו%20חניה_פרסום.xsn'>בקשה
                            להנפקת תו חנייה לעובד </a>
                    </li>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='file://black-filer1/Public$/infopath%20forms/טפסי%20צוות%20יישומים/טפסי%20צוות%20יישומים%202010/טפסי%20ועדות/שוברים%20לחניון%20הלאום/פרסום%20הנפקת%20שוברי%20חניה%20לחניון%20הלאום.xsn'>הנפקת
                            שובר חנייה לחניון הלאום </a>
                    </li>
                </ul>
            </div>




            <div>
                <img class='pmoNavimg' alt='management' src='/_catalogs/masterpage/click/public/images/management_white.png' />
                <br />
                <span class='pmoUlHead'> שירותי הנהלה




                </span>
                <ul class='pmoUL'>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='file://black-filer1/Public$/infopath%20forms/טפסי%20צוות%20יישומים/טפסי%20צוות%20יישומים%202010/טפסי%20יחידת%20רכש/פרסום%20פניה%20ליחידת%20רכש25082019.xsn'>פנייה
                            ליחידת רכש




                        </a>
                    </li>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='file://black-filer1/Public$/infopath%20forms/טפסי%20צוות%20יישומים/טפסי%20צוות%20יישומים%202010/טפסי%20בנאמ/CleaningServiceTasks_published.xsn'>פתיחת
                            קריאה לשירותי ניקיון




                        </a>
                    </li>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='http://pmoclick/SitePages/NewItemPopUp.aspx?&amp;http://pmoclick/BusinessCards/Lists/BusinessCardsOrder/NewForm.aspx'>בקשה
                            להנפקת כרטיס ביקור




                        </a>
                    </li>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='https://forms.office.com/Pages/ResponsePage.aspx?id=z8fLHp2ja06jvx7Vc2ZB3a-SQwexQV5Pu8HWoVknQrhUMlA0UlM3WlM2M083NEIzQTVKRTU4MElKRC4u'>דיווח
                            מהבית - עובדים חיוניים




                        </a>
                    </li>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='https://forms.office.com/Pages/ResponsePage.aspx?id=z8fLHp2ja06jvx7Vc2ZB3dlq472weVhDqCVM4KyqyWxUMjZPQkpSNk1ZMVMwN042MVdOU1M0MEg3Sy4u'>דיווח
                            מהבית - עובדי בתי תוכנה




                        </a>
                    </li>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='https://survey.gov.il/pmosymptoms'>טופס היעדר
                            תסמינים




                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <img class='pmoNavimg' alt='committees' src='/_catalogs/masterpage/click/public/images/committees_white.png' />
                <br />
                <span class='pmoUlHead'> ועדות משרדיות




                </span>
                <ul class='pmoUL'>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='file://black-filer1/public$/infopath%20forms/טפסי%20צוות%20יישומים/טפסי%20צוות%20יישומים%202010/טפסי%20ועדות/p_vaadotMaam17.xsn'>פנייה
                            לועדות מכרזים, יועצים וענ'א




                        </a>
                    </li>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='file://black-filer1/Public$/infopath%20forms/טפסי%20צוות%20יישומים/טפסי%20צוות%20יישומים%202010/טפסי%20ועדת%20בלאי/פרסום%20טופס%20ועדת%20בלאי.xsn'>פנייה
                            לועדת בלאי




                        </a>
                    </li>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='file://black-filer1/Public$/infopath%20forms/טפסי%20צוות%20יישומים/טפסי%20צוות%20יישומים%202010/חריגים/חריגים.xsn'>פנייה
                            לועדת חריגים




                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <img class='pmoNavimg' alt='it' src='/_catalogs/masterpage/click/public/images/it_white.png' />
                <br />
                <span class='pmoUlHead'>שירותי מחשוב




                </span>
                <ul class='pmoUL'>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='http://pmoclick/SitePages/NewItemPopUp.aspx?&amp;http://pmoclick/ITSM/Lists/incident/Item/newifs.aspx'>פנייה
                            למוקד תמיכה




                        </a>
                    </li>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='file://black-filer1/public$/infopath%20forms/טפסי%20צוות%20יישומים/טפסי%20צוות%20יישומים%202010/טפסי%20מחשוב/פ_טופס%20בקשה%20לציוד%20מחשוב.xsn'>בקשה
                            לציוד מחשוב מיוחד לניידות




                        </a>
                    </li>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='file://black-filer1/Public$/infopath%20forms/טפסי%20צוות%20יישומים/טפסי%20צוות%20יישומים%202010/טפסי%20בנאמ/פרסום%20טופס%20טיפול%20בפניות%20מדיה%20ותקשורת.xsn'>פנייה
                            ליחידת תקשורת קווית




                        </a>
                    </li>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='file://black-filer1/public$/infopath%20forms/טפסי%20צוות%20יישומים/טפסי%20צוות%20יישומים%202010/טפסי%20יחידת%20תיאום%20וארגון/פרסום-2018טופס%20להנפקת%20כרטיס%20חכם.xsn'>הנפקת
                            כרטיס חכם




                        </a>
                    </li>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='file://black-filer1/public$/infopath%20forms/טפסי צוות יישומים/טפסי צוות יישומים 2010/טפסי מחשוב/P_newUser.xsn'>משתמש
                            חדש ברשת




                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex__container links__container">
            <div>
                <img class='pmoNavimg' alt='study' src='/_catalogs/masterpage/click/public/images/study_white.png' />
                <br />
                <span class='pmoUlHead'> שירותי הדרכה




                </span>
                <ul class='pmoUL'>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='file://black-filer1/public$/infopath%20forms/טפסי%20צוות%20יישומים/טפסי%20צוות%20יישומים%202010/טפסי%20הדרכה/פרסום-טופס%20השתלמות%20חדש_140218.xsn'>בקשה
                            ללימודים




                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <img class='pmoNavimg' alt='maintenance' src='/_catalogs/masterpage/click/public/images/maintenance_white.png' />
                <br />
                <span class='pmoUlHead'>שירותי אחזקה




                </span>
                <ul class='pmoUL'>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='http://pmoclick/SitePages/NewItemPopUp.aspx?&amp;http://pmoclick/BANAM/Lists/incident/Item/newifs.aspx'>פתיחת
                            קריאה למרכז אחזקה




                        </a>
                    </li>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='http://pmoclick/SitePages/NewItemPopUp.aspx?&amp;http://pmoclick/SSM/Lists/incident/Item/newifs.aspx'>פתיחת
                            קריאה למרכז תקלות ביטחון




                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <img class='pmoNavimg' alt='traveling' src='/_catalogs/masterpage/click/public/images/traveling_white.png' />
                <br />
                <span class='pmoUlHead'> נסיעות לחו'ל




                </span>
                <ul class='pmoUL'>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='file://black-filer1/Public$/infopath%20forms/טפסי%20צוות%20יישומים/טפסי%20צוות%20יישומים%202010/טפסי%20חול/פרסום%20בקשה%20לאישור%20נסיעת%20עובד%20לחול.xsn'>בקשה
                            לאישור נסיעת עובד בתפקיד לחו'ל




                        </a>
                    </li>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='file://black-filer1/public$/infopath%20forms/טפסי%20צוות%20יישומים/טפסי%20צוות%20יישומים%202010/טפסי%20חול/פרסום%20טופס%20התחשבנות%20אשל.xsn'>טופס
                            אש'ל חו'ל




                        </a>
                    </li>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='file://black-filer1/Public$/infopath%20forms/טפסי%20צוות%20יישומים/טפסי%20צוות%20יישומים%202010/טפסי%20ביטחון/פרסום%20בקשה%20לאישור%20בטחוני%20לנסיעה%20פרטית%20לחול.xsn'>בקשה
                            לאישור בטחוני לנסיעה פרטית לחו'ל




                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <img class='pmoNavimg' alt='favorites' src='/_catalogs/masterpage/click/public/images/fav_services_white.png' />
                <br />
                <span class='pmoUlHead'>קישורים




                </span>
                <ul class='pmoUL'>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='http://pmoportal19'>פורטל המשרד




                        </a>
                    </li>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='http://govsec.pmo.gov.il'>מעטפה שבועית




                        </a>
                    </li>
                    <li class='pmoLi'>
                        <a class='pmoLink' href='https://www.gov.il/'>שירותים ומידע ממשלתי




                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>