<h2 class="currentUser">
    שלום <span id="userDisplayName"></span> , מה עושים היום?
</h2>
<!--    Personal Reminders  -->
<div class="webPartContainerTopRight">
    <h2 class="interactiveCubeTitle interactiveCubePersonalTitle">
        תזכורות אישיות <span id="personalReminderCount"></span>
    </h2>
    <div id="personalR">

    </div>

    <div id="allRemindersToday" style="text-align: center; text-decoration: underline;display: none;">
        <a href="javascript:void(0);false">לכל התזכורות </a>
    </div>
</div>
<!--    Unit Reminders  -->
<div class="webPartContainerBottomRight">
    <h2 class="interactiveCubeTitle interactiveCubeUnitTitle">
        תזכורות יחידתיות <span id="unitReminderCount"></span>
    </h2>

    <div id="unitR">

    </div>

    <div id="allUnitRemindersToday" style="text-align: center; text-decoration: underline; display: none;">
        <a href="/lists/reminders/calendar.aspx">לכל התזכורות</a>
    </div>
</div>